section h1 {
  height: auto;
  width: auto;
  text-align: center;
  color: mediumslateblue;
  text-shadow: 2px 2px plum;
  font-size: 40;
}

body {
  background-color: grey;
  align-content: center;
  margin: 10px 10px 10px 10px;
}

header {
  text-align: center;
  font-size: larger;
  text-shadow: 2px 2px gold;
  color: brown;
  font-weight: 700;
  font-size: 35;
}

section div img {
  width: 33%;
  height: 200;
  width: 200;
  float: left;
  padding: 5px;
  margin: 80;
}

section div p {
  color: brown;
  text-shadow: 2px 2px cyan;
  font-size: 25;
}

footer {
  text-align: center;
  height: 5%;

  align-content: center;
  color: chocolate;
  background-color: darkslategray;
}

text {
  text-align: left;
}
.syke:focus,
.syke:hover {
  background-color: #0097bd;
}
.syke {
  background-color: #00bff0;
  border-color: #00bff0;
}

#listId {
  color: red;
  text-align: center;
}
